<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Common</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/js/jQuery-2.1.4.min.js"></script>
	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" href="/css/sub.css">
</head>

<body>

	<div align="center" layout:fragment="header">
		<div class="loginLogo"><a href="../home.html" th:href="@{/}"><img src="/image/logo.png" alt="로고" th:src="@{/image/logo.png}" /> <span>starful</span></a></div>
	</div>
	
	<div align="center" layout:fragment="content">
		
	</div>
	
</body>
</html>
